<div class="container margin-top-height-navbar">
  <div class="text-center">
    <h1><%= t('questions.intro') %></h1>
    <p><strong> <%= t('questions.intro_bis') %></strong></p>
    <%= form_tag(questions_path(@question), method: "post") do %>
      <input name="start_date" type="hidden" value=<%= DateTime.now %> />
      <input name="correct" type="hidden" value=<%= 0 %> />
      <input class="btn-play" name="commit" type="submit" class="submit_questions" value=<%= t('questions.start') %>>
    <% end %>
  </div>
  <% if @quizz_records.length > 0 %>
    <%= render 'shared/results', :locals => {@quizz_records => @quizz_records} %>
  <% end %>
</div>
