<div class="container margin-top-height-navbar">
  <div class="play">
    <h1>Question n° <%= @question.beautiful_id %>/10</h1>
    <div class = "intitule"><%= @question.intitule %></div>
    <div class="row">
      <% @choices.each_with_index do |choice| %>
        <div class="col-xs-12 col-sm-6">
          <% if choice.correct %>
            <div class = "correct card-choices" id = "<%= @question.id % 10 %>">
              <%= choice.intitule %>
            </div>
          <% else %>
            <div class = "incorrect card-choices" id = "<%= @question.id % 10 %>">
              <%= choice.intitule %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class = "col-xs-12">
      <div class = "answer hidden">
        <div class="answer-text">
          <%= @question.answer %>
        </div>
        <% if @question.id < @first_question_id + 9 %>
          <%= link_to questions_path(@question.id + 1) do %>
            <div class="btn-play"> <%= t('questions.next') %> </div>
          <% end %>
        <% else %>
          <%= link_to results_path do %>
            <div class="btn-play"> <%= t('questions.next') %> </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
