<div class=" text-center features">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
      <%= link_to image_path("Medavy - 101.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_101') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
    </div>
    <div class="hidden">
      <%= link_to image_path("Medavy - 110.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_110') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 111.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_111') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 104.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_104') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 105.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_105') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 106.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_106') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 102.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_102') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 108.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_108') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 107.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_107') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 109.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_109') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 103.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_103') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 112.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_112') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 117.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_117') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 118.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_118') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 113.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_113') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 114.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_114') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 115.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_115') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 116.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => t('gallery.content_116') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
