<div class=" text-center features">
  <div class="row">
    <%= link_to image_path("Medavy - 101.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
      <div class="card-video">
        <i class="fi-play"></i>
        <h4> <%= t('gallery.diaporama') %></h4>
      </div>
    <% end %>
    <div class="hidden">
      <%= link_to image_path("Medavy - 102.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 103.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 104.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 105.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 106.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 107.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 108.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 109.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 110.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 111.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 112.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 113.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 114.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 115.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 116.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 117.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <%= link_to image_path("Medavy - 118.JPG"), :class => "swipebox", :alt => "image", :title => t('gallery.medavy'), :content => "ok" do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
