<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
<%=          %>
  <% end %>

  <!-- Logo -->
  <div class="container text-center center-button">
    <div>
      <%= link_to root_path do %>
        <%= image_tag("Medavy 48 - logo 6.png", class: "logo-medavy")  %>
      <% end %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Language choice -->
    <div>
      <%= link_to locale: nil do %>
        <%= image_tag("France_flag.png", class: "flag")  %>
      <% end %>
    </div>
    <div>
      <%= link_to locale: 'en' do %>
        <%= image_tag("union jack.png", class: "flag") %>
      <% end %>
    </div>

  </div>
</div>

