<div class="navbar-wagon navbar-wagon-fixed">
  <!-- left -->
  <div class="navbar-wagon-left">
  </div>

  <!-- Logo -->
  <div class="text-center center-button">
    <div>
      <%= link_to root_path do %>
        <div class="logo-text">
          <div class="logo-text-1">
            <p>Château de </p>
          </div>
          <div class="logo-text-2">
            <h1>Medavy</h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <!-- Language choice -->
    <div>
      <%= link_to locale: nil do %>
        <%= image_tag("France_flag.png", class: "flag")  %>
      <% end %>
    </div>
    <div>
      <%= link_to locale: 'en' do %>
        <%= image_tag("union jack.png", class: "flag") %>
      <% end %>
    </div>

  </div>
</div>
<div class="liseret-fixed">
</div>

