<%= cl_image_tag("Medavy_332_irog7w",
      width: 400, height: 300, crop: :fill) %>

<%= cl_video_tag("Medavy_-_Tour_Circulaire_rapide_stvusp") %>

<div class="margin-top-height-navbar">
  <%= video_tag "http://res.cloudinary.com/dsosadxbk/video/upload/v1491490317/Medavy_-_Tour_Circulaire_rapide_stvusp.mp4", autoplay: true, muted: true, id: "video-background"%>

  <div class="banner-content">
    <h1> <%= t('gallery.welcome')%> </h1>
  </div>
</div>



<%= cl_video_tag("Medavy_-_Tour_Circulaire_rapide_stvusp", width: 400, height: 300, crop: :fill) %>
<div class="container">
  <h4 class="light-padded"><%= t('pages.contact.intro') %></h4>
  <%= form_tag pages_contact_send_contact_message_path, method: :post do %>
    <div class = "margin-top">
      <%= text_area_tag "name_contact", nil, style:"border: none; padding: 5px 10px; width: 100%; border-radius: 5px", rows: 1, placeholder: t('pages.contact.name-placeholder') %>
    </div>
    <div class = "margin-top">
      <%= text_area_tag "email_contact", nil, style:"border: none; padding: 3px 10px; width: 100%; border-radius: 5px", rows: 1, placeholder: t('pages.contact.email-placeholder') %>
    </div>
    <div class="margin-top">
      <%= text_area_tag "message_contact", nil, style:"border: none; padding: 3px 10px; width: 100%; border-radius: 5px", rows: 7, placeholder: t('pages.contact.message-placeholder') %>
    </div>
    <div class="margin-top align-right">
      <%= submit_tag t('pages.contact.send'), class: "btn btn-danger btn-lg margin-top" %>
    </div>
  <% end %>
</div>


