<div class="margin-top-height-navbar">
  <%= video_tag "Medavy - Tour Circulaire rapide.mp4", autoplay: true, muted: true, id: "video-background"%>

  <div class="banner-content">
    <h1> <%= t('gallery.welcome')%> </h1>
  </div>
</div>

<!-- cards-video -->

  <div class="container cards-video">
    <div class=" text-center features">
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1">
          <%= link_to gallery_exterior_path do %>
            <div class="card-video">
              <i class="fi-foot"></i>
              <h4> <%= t('gallery.exterior') %></h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2">
          <%= link_to gallery_interiors_path do %>
            <div class="card-video">
              <i class="fi-crown"></i>
              <h4><%= t('gallery.interiors')%></h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2">
          <%= link_to gallery_work_path do %>
            <div class="card-video">
              <i class="fi-flag"></i>
              <h4><%= t('gallery.work')%></h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-offset-0 col-md-2">
          <%= link_to gallery_SkyViews_path do %>
            <div class="card-video">
              <i class="fi-play"></i>
              <h4><%= t('gallery.sky_views')%></h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-2">
          <%= link_to gallery_MedavyByNight_path do %>
            <div class="card-video">
              <i class="fi-lightbulb"></i>
              <h4><%= t('gallery.medavy_by_night')%></h4>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

