<div class="container narrow margin-top-height-navbar padding-bottom">
  <div class=" text-center features">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="timeline">
          <div class = "timeline-title"><%= t('history.timeline_title')%></div>
          <ul>
            <li id="li-origins" class="menu-active"><strong><%= t('history.origins_date')%></strong> - <%= t('history.origins') %></li>
            <li id="li-rouxel" class="menu-inactive"><strong><%= t('history.rouxel_date')%></strong> - <%= t('history.rouxel') %></li>
            <li id="li-montregard" class="menu-inactive"><strong><%= t('history.montregard_date')%></strong> - <%= t('history.montregard') %></li>
            <li id="li-laroque" class="menu-inactive"><strong><%= t('history.laroque_date')%></strong> - <%= t('history.laroque') %></li>
            <li id="li-recent" class="menu-inactive"><strong><%= t('history.recent_date')%></strong> - <%= t('history.recent') %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h1 class = "large-margin-bottom large-margin-top green-font"><%= t('history.title') %></h1>
        <div class="card-pages" id="card-origins">
          <h4> <%= t('history.origins') %></h4>
          <div class = "subtitle"><%= t('history.origins_subtitle') %></div>
          <%= image_tag("logo middle.png", class: "image-pages")  %>
          <p class="margin-top"><%= t('history.origins_paragraph_html') %></p>
        </div>
        <div class="card-pages" id="card-rouxel">
          <h4> <%= t('history.rouxel') %></h4>
          <div class = "subtitle"><%= t('history.rouxel_subtitle') %></div>
          <%= image_tag("Medavy 72 middle.JPG", class: "image-pages")  %>
          <p class="margin-top"><%= t('history.rouxel_paragraph_html') %></p>
        </div>
        <div class="card-pages" id="card-montregard">
          <h4> <%= t('history.montregard') %></h4>
          <div class = "subtitle"><%= t('history.montregard_subtitle') %></div>
          <%= image_tag("Medavy 57 middle.JPG", class: "image-pages")  %>
          <p class="margin-top"><%= t('history.montregard_paragraph_html') %></p>
        </div>
        <div class="card-pages" id="card-laroque">
          <h4> <%= t('history.laroque') %></h4>
          <div class = "subtitle"><%= t('history.laroque_subtitle') %></div>
          <%= image_tag("Medavy 134 middle.JPG", class: "image-pages")  %>
          <p class="margin-top"><%= t('history.laroque_paragraph_html') %></p>
        </div>
        <div class="card-pages" id="card-recent">
          <h4> <%= t('history.recent') %></h4>
          <div class = "subtitle"><%= t('history.recent_subtitle') %></div>
          <%= image_tag("Medavy 329 middle.JPG", class: "image-pages")  %>
          <p class="margin-top"><%= t('history.recent_paragraph_html') %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(window).scroll(function () {
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        var x = $(this).scrollTop() + h/4;
        var y = $('#card-origins').offset().top;
        var z = $('#card-rouxel').offset().top;
        var t = $('#card-montregard').offset().top;
        var u = $('#card-laroque').offset().top;
        var v = $('#card-recent').offset().top;
        if (x < z) {
          $('.timeline > ul > li').removeClass('menu-active');
          $('.timeline > ul > li').addClass('menu-inactive');
          $('#li-origins').addClass('menu-active');
        }
        else if (x < t) {
          $('.timeline > ul > li').removeClass('menu-active');
          $('.timeline > ul > li').addClass('menu-inactive');
          $('#li-rouxel').addClass('menu-active');
        }
        else if (x < u) {
          $('.timeline > ul > li').removeClass('menu-active');
          $('.timeline > ul > li').addClass('menu-inactive');
          $('#li-montregard').addClass('menu-active');
        }
        else if (x < v) {
          $('.timeline > ul > li').removeClass('menu-active');
          $('.timeline > ul > li').addClass('menu-inactive');
          $('#li-laroque').addClass('menu-active');
        }
        else {
          $('.timeline > ul > li').removeClass('menu-active');
          $('.timeline > ul > li').addClass('menu-inactive');
          $('#li-recent').addClass('menu-active');
        }
      });
    });
  <% end %>
<% end %>

