<div class="banner" style="background-image: url('<%= image_path "banner new middle.JPG" %>');">
  <div class="banner-text">
    <div class="logo-text">
      <div class="logo-text-1">
        <p>Château de </p>
      </div>
      <div class="logo-text-2">
        <h1>Medavy</h1>
      </div>
    </div>
    <div class="logo-subtitle"> <p> <%= t('root.intro')%> </p></div>
  </div>
</div>


<div class="wrapper wrapper-home">
  <div class="container narrow">
    <!-- map -->
    <h2 class="title text-center"> <%= t('root.welcome') %></h2>
    <p class="large-margin-bottom"><%= t('root.open0_html') %></p>
    <div class="map-box">
      <div class="map-left">
        <div class="intro-text" id = "leftdiv">
          <div class="opening-hours">
            <h4><%= t('root.schedule') %></h4>
            <p><%= t('root.open1_html') %></p>
            <p><%= t('root.open2_html') %></p>
            <p><%= t('root.open3_html') %></p>
          </div>
        </div>
        <div class = "text-center">
          <div class="btn-phone">
            <i class="fi-telephone"></i>
            <%= t('root.telephone') %>
          </div>
        </div>
      </div>
      <div class="map-right">
        <div id="map">
        </div>
        <div class = "text-center">
          <%= link_to "https://www.google.com/maps/dir//Ch%C3%A2teau+de+M%C3%A9davy,+Le+Ch%C3%A2teau,+M%C3%A9davy,+France/@48.6785475,0.0271894,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47e203cd31f6a15d:0x8ebcdecec71385ab!2m2!1d0.0974007!2d48.6785688", target: :_blank do %>
            <div class="btn-go">
              <i class="fi-map"></i>
              <%= t('root.go') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- visits -->
<div class="wrapper wrapper-home bg-light-green padding-margin-visits">
  <div class="container narrow">
    <div class="row">
      <h2 class="title text-center"> <%= t('root.visits') %></h2>
      <p class="text-center green-font negative-top-margin"><%= t('root.details') %></p>
      <!-- park -->
      <div class="col-xs-12 col-sm-4">
        <div class="visits-all">
          <div class="image-visits" id="image-park" style="background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.5) 0%, rgba(39, 222, 241, 0.2) 62%), url('<%= image_path "Medavy 88 middle.JPG" %>'); background-size: cover;">
            <div class="banner-content visits-content">
              <h3> <%= t('root.park')%> </h3>
            </div>
          </div>
          <div class="details-box hidden" id="details-box-park">
            <p class="margin-top"><%= t('root.park_description') %></p>
            <ul>
              <li> <%= t('root.non-guided') %> </li>
              <li> <%= t('root.park_price') %> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- castle -->
      <div class="col-xs-12 col-sm-4">
        <div class="visits-all">
          <div class="image-visits" id="image-castle" style="background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.5) 0%, rgba(39, 222, 241, 0.2) 62%), url('<%= image_path "Medavy 329 middle.JPG" %>'); background-size: cover;">
            <div class="banner-content visits-content">
              <h3> <%= t('root.castle')%> </h3>
            </div>
          </div>
          <div class="details-box hidden" id="details-box-castle">
            <p class="margin-top"><%= t('root.castle_description') %></p>
            <ul>
              <li> <%= t('root.guided') %> </li>
              <li> <%= t('root.length_castle') %> </li>
              <li> <%= t('root.limit_castle') %> </li>
              <li> <%= t('root.last_visit') %> </li>
              <li> <%= t('root.castle_price') %> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- tour -->
      <div class="col-xs-12 col-sm-4">
        <div class="visits-all">
          <div class="image-visits" id="image-peter" style="background-image: linear-gradient(-0deg, rgba(0, 0, 0, 0.5) 0%, rgba(39, 222, 241, 0.2) 62%), url('<%= image_path "Medavy 117 middle.JPG" %>'); background-size: cover;">
            <div class="banner-content visits-content">
              <h3> <%= t('root.peter_tour')%> </h3>
            </div>
          </div>
          <div class="details-box hidden" id="details-box-peter">
            <p class="margin-top"><%= t('root.peter_description') %></p>
            <ul>
              <li> <%= t('root.guided') %> </li>
              <li> <%= t('root.rdv_peter') %> </li>
              <li> <%= t('root.length_peter') %> </li>
              <li> <%= t('root.limit_peter') %> </li>
              <li> <%= t('root.comments_peter') %> </li>
              <li> <%= t('root.peter_price') %> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Other options -->
<div class="wrapper wrapper-home">
  <div class="container narrow">
    <div class=" text-center features">
      <div class="row">
        <h2 class="title text-center"> <%= t('root.know_more') %></h2>
        <div class="col-xs-6 col-md-3">
          <%= link_to history_path do %>
            <div class="card-home">
              <i class="fi-plus"></i>
              <h4> <%= t('root.history') %></h4>
              <p><%= t('root.discover_history') %></p>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-md-3">
          <%= link_to gallery_path do %>
            <div class="card-home">
              <i class="fi-photo"></i>
              <h4><%= t('root.visuals')%></h4>
              <p><%= t('root.discover')%></p>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-md-3">
          <%= link_to quizz_path do %>
            <div class="card-home">
              <i class="fi-play"></i>
              <h4><%= t('root.play')%></h4>
              <p><%= t('root.have_fun') %></p>
            </div>
          <% end %>
        </div>

        <div class="col-xs-6 col-md-3">
          <%= link_to new_message_path do %>
            <div class="card-home">
              <i class="fi-mail"></i>
              <h4><%= t('root.questions')%></h4>
              <p><%= t('root.contact')%></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Aux alentours -->
<div class="wrapper wrapper-home large-padding-bottom">
  <div class="container narrow">
    <div class=" text-center features">
      <div class="row">
        <h2 class="title text-center"> <%= t('root.nearby') %></h2>
        <div class="exterior-links">
          <ul>
            <li>
              <%= t('root.description_weekend61') %>
              <%= link_to "Week-end61.fr", "http://weekend61.fr/", target: :_blank, class: "exterior-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- map js -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
            provider: {
              scrollwheel: false,
              styles: [
    {
        "featureType": "all",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#35C793"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "saturation": "100"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "gamma": 0.01
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "saturation": -31
            },
            {
                "lightness": -33
            },
            {
                "weight": 2
            },
            {
                "gamma": 0.8
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 30
            },
            {
                "saturation": 30
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": 20
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 20
            },
            {
                "saturation": -20
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 10
            },
            {
                "saturation": -30
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "saturation": 25
            },
            {
                "lightness": 25
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "lightness": -20
            }
        ]
    }
]
            },
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash_position.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(10);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(9);
        }
      });
    });
  <% end %>
<% end %>




